
  

  <!------------------ Hover Effect Style : Demo - 14 --------------->

  
  <!------------------ Hover Effect Style : Demo - 15 --------------->
 
  
  
  <!------------------ Hover Effect Style : Demo - 21 --------------->

  <div class="container mt-40">
  
    <div class="row mt-30">
        <div class="col-md-4 col-sm-6">
            <div class="box14">
                <img class="pic-1" style="border-radius: 50%;" src="assets/images/leb/2 (1).jpg">
                <div class="box-content">
                    <h3 class="title">Williamson</h3>
                    <span class="post">Web Developer</span>
                    <ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box14">
                <img class="pic-1 " style="border-radius: 50%;" src="assets/images/leb/4 (2).jpg">
                <div class="box-content">
                    <h3 class="title">Kristiana</h3>
                    <span class="post">Web Designer</span>
                    <ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box14">
                <img class="pic-1" style="border-radius: 50%;" src="assets/images/leb/13 (1).jpg">
                <div class="box-content">
                    <h3 class="title">Kristiana</h3>
                    <span class="post">Web Designer</span>
                    <ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
 
