.vertical-menu {
  width: 300px;
  height: 800px;
  overflow-y: auto;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #04AA6D;
  color: white;
}
/*mat*/
.example-spacer {
  flex: 1 1 auto;
}

p {
  font-family: Lato;
}

.inp {
  width: 600px;
}

.parent {
  position: relative;
}



.sidenav {
  width: 280px;
}