<section class="testimonials mybg-events" >

	<div class="container">
			
			<div class="row">
					<div class="col-md-12 wow fadeInUp">
							<h3 class="title-heading text-center"    style="font-size: 40px;font-weight: bold;font-style: italic; color: #f39c12;">Neroli beauté</h3>
							<p class="myp text-center" style="font-style: italic;" >Neroli est une marque tunisienne qui permet à chaque femme de trouver toutes les réponses à sa propre beauté 
								Neroli est un style de vie et une manière d'avoir confiance en vous 
								Des produits merveilleux tous rigoureusement testés 
								Chaque femme peut trouver dans Neroli toutes les réponses à sa propre beauté</p>
					</div>
			</div>
			<div class="row wow slideInLeft" data-wow-duration="3s">
					<div class="col-md-4 mb-3">
							<div class="big-img2">
									<img src="assets/images/leb/8.jpg" class="img-fluid">
							</div>
							
					</div>
					<div class="col-md-8">
							<div class="inner-section">
									<div class="my-grid">
											<div class="row">
													<div class="col-sm-6 col-md-4 mb-3">
														 
															<img src="assets/images/leb/12 (1).jpg" class="img-fluid">
															
													</div>
													<div class="col-sm-6 col-md-8 mb-3 ">
															
															<img src="assets/images/leb/1.jpg" class="img-fluid">
													
													</div>

													<div class="col-md-8 mb-3" >
															<div class="text-block" style="background-color: #f39c12;">
													<img src="assets/images/leb/logoDiv.png" style="width: 300px;height: 100px;text-align: center;">	
																	<h5  style="font-style: italic; color:#fff;font-size: 20px;">Cosmétique naturel </h5>
																	<h5  style="font-style: italic; color:#fff;font-size: 20px;">Parfums</h5>
																	<h5  style="font-style: italic; color:#fff;font-size: 20px;">Bijoux</h5>
																	<h5  style="font-style: italic; color:#fff;font-size: 20px;">Maquillage</h5>
																	<h5  style="font-style: italic; color:#fff;font-size: 20px;">lingeries</h5>
																	<h5  style="font-style: italic; color:#fff;font-size: 20px;">accessoires</h5>
				

															</div>
													</div>
													<div class=" col-md-4 ">
															 
															<img src="assets/images/leb/4.jpg" class="img-fluid">
													
													</div>
											</div>
									</div>
							</div>
					</div>
			</div>
	</div>
</section>